ChangeLog
autom4te.cache
aclocal.m4
*.log
config.status
config.guess
config.sub
configure
configure.scan
depcomp
install-sh
missing
config.h
stamp-h1
Makefile
*.in
**/*.in
**/Makefile
*~
*.gz
*.xz
src/*~
src/.deps
src/vsd2svg
src/*.exe
src/*.rc
src/*.o
src/.libs
src/*.out

